@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/fraunces/v31/6NUh8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7hzFUPJH58nib1603gg7S2nfgRYIctxuTB_7TtUs.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
body {
  @import url("https://fonts.cdnfonts.com/css/barlow");
}
@media screen and (min-width: 376px) {
  body {
    max-width: 1440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
  }
}

header {
  width: 1440px;
  height: 800px;
}

main {
  width: 1440px;
  height: auto;
}

footer {
  width: 1440px;
  height: 350px;
  background-color: hsl(168, 34%, 41%);
}

.sunny {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.sunny__head {
  background-image: url("https://raw.githubusercontent.com/becodeorg/CRL-Wilson-3/main/1.TRAIL/01.The-Field/05.Sunnyside/resources/images/photos/image-header.jpg?token=GHSAT0AAAAAACJUPXRQOM2FVBSKBXCDMQBGZLPRWJQ");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.sunny__head_info {
  grid-area: 1/1/2/4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
}
.sunny__head_info_info-button {
  color: red;
}
.sunny__head_titre {
  grid-area: 2/2/3/3;
  text-align: center;
  color: black;
  font-family: "Fraunces";
  color: white;
  font-weight: 900;
  font-size: 56px;
}
.sunny__head_image {
  grid-area: 3/2/4/3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 108px;
}
.sunny__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.sunny__main_brand {
  max-width: 720px;
  max-height: 600px;
  grid-area: 1/1/2/2;
}
.sunny__main_oeuf {
  max-width: 720px;
  max-height: 600px;
  grid-area: 1/2/2/3;
}
.sunny__main_stand {
  max-width: 720px;
  max-height: 600px;
  grid-area: 2/1/3/2;
}
.sunny__main_standout {
  max-width: 720px;
  max-height: 600px;
  grid-area: 2/2/3/3;
}
.sunny__main_design {
  width: 720px;
  height: 600px;
  grid-area: 3/1/4/2;
  background-image: url("https://raw.githubusercontent.com/becodeorg/CRL-Wilson-3/main/1.TRAIL/01.The-Field/05.Sunnyside/resources/images/photos/image-graphic-design.jpg?token=GHSAT0AAAAAACJUPXRRV3DQNKBLXUDEIGNKZLPSR4Q");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sunny__main_photography {
  display: block;
  width: 720px;
  height: 600px;
  grid-area: 3/2/4/3;
  background-image: url("https://raw.githubusercontent.com/becodeorg/CRL-Wilson-3/main/1.TRAIL/01.The-Field/05.Sunnyside/resources/images/photos/image-photography.jpg?token=GHSAT0AAAAAACJUPXRRJ5XWUGDQLHW5OGZKZLPSREA");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sunny__main_testimonials {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  grid-area: 4/1/5/3;
}
.sunny__main_testimonials-emily {
  float: left;
  max-width: 33%;
  min-height: 33%;
}
.sunny__main_testimonials-emily img {
  border-radius: 50%;
}
.sunny__main_testimonials-Thomas {
  float: left;
  max-width: 33%;
  min-height: 33%;
}
.sunny__main_testimonials-Thomas img {
  border-radius: 50%;
}
.sunny__main_testimonials-Jennie {
  float: left;
  max-width: 33%;
  min-height: 33%;
}
.sunny__main_testimonials-Jennie img {
  border-radius: 50%;
  -o-object-position: top center;
     object-position: top center;
}
.sunny__main_image {
  grid-area: 5/1/6/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  width: 1440px;
  height: 447px;
}
.sunny__main_image .milk {
  max-width: 360px;
  max-height: 437px;
}
.sunny__main_image .orange {
  max-width: 360px;
  max-height: 437px;
}
.sunny__main_image .cone {
  max-width: 360px;
  max-height: 437px;
}
.sunny__main_image .sugar {
  max-width: 360px;
  max-height: 437px;
}
.sunny__main__footer {
  width: 1440px;
  height: 350px;
  background-color: hsl(168, 34%, 41%);
}/*# sourceMappingURL=style.css.map */